<div class="container-fluid">
    <!--  Flower Image -->
  <div class="row one">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p class="flowerlist"></p>
        <hr>
          {{#each flowers}}
            <li class="list-group-item flower-item">
              <span id="flowerName" class="flowertext" >{{flower_name}}</span>
              <img id="flowerImg" class="donateImg" src="{{imageurl_large}}" alt="flowers" data-id={{id}}>
              <p id="flowerDesc">{{description}}</p>
            </li>
          <br>
            <button id="donateButton" class="btn btn-primary pull-right voffset3" type="submit">Donate These Flowers!</button>
        <br>
          {{/each}}
      </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
    <!--user input starts here-->
    <div class="row" id="formContainer">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
          Who Would You Like to Donate to?
          </div>
        </div>        
          <div class="panel-body">
          <form class="span4" id="recipientForm" role="form">
            <!-- Recipient Info -->
            <div class="col-lg-12">
              <div class="form-group">
                <label>First Name</label>
                <input name="recipientFirst" id="recipientFirst" class="form-control" placeholder="Recipient First Name" type="text" required>
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input name="recipientLast" id="recipientLast" class="form-control" placeholder="Recipient Last Name" type="text" required>
              </div>
              <div class="form-group">                
                <label>Mailing Address</label> 
                <input name="recipientMailing" id="recipientMailing" class="form-control" placeholder="Recipient mailing address" type="text" required> 
              </div>
              <div class="form-group">              
                <label>Email Address</label> 
                <input name="recipientEmail" id="recipientEmail" class="form-control" placeholder="Recipient email address" type="email" required>
              </div>
            </div>
            <!-- Message Goes Here -->
            <div class="col-lg-12">
              <label>Message</label> 
              <textarea name="message" id="message" class="form-control" rows="10" required></textarea>
            </div>   
            <!-- Donor Info  -->
            <div class="col-lg-12">
            <br>
            <hr id="break">
            <br>
              <div class="form-group">
                <label>Donor First Name</label>
                <input name="donorFirst" id="donorFirst" class="form-control" placeholder="Donor First Name" type="text" required> 
              </div>
              <div class="form-group">
                <label>Donor Last Name</label>
                <input name="donorLast" id="donorLast" class="form-control" placeholder="Donor Last Name" type="text" required> 
              </div>
              <div class="form-group">
                <label>Donor Email</label>
                <input name="donorEmail" id="donorEmail" class="form-control" placeholder="Donor Email" type="email" required>         
              </div>
              <div class="form-group">
                <label>Donor User Name</label>
                <input name="donorUser" id="donorUser" class="form-control" placeholder="Donor User Name" type="text" required> 
              </div>
                <button id="submitButton" class="btn btn-primary pull-right voffset3" type="submit">Submit</button>
            </div>
          </form>
          </div>          
        </div>
      </div>
      <div class="col-sm-2"></div>      
    </div>
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div id="confirm" class="panel panel-default">
          <div class="panel-body span4 text-center">
            <div id="confirmInfo"></div>
          </div>
        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>



